html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-box {
	margin-bottom: 250px;
}
.logo-wrapper {
	width: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 220px;
}

.search-bar-wrapper {
    width: 600px;
    max-width: 100%
}

.search-bar {
	margin: 20px 0;
}

.search-bar input {
	font-size: 16px;
	height: 44px;
	width: 100%;
	padding: 6px 10px;
	margin: 12px 0;
	display: inline-block;
	border: 0px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-bar input:focus {
	outline: none;
}

.search-button {
	width: 175px;
	margin: 0 auto;
}

.search-button button {
	width: 100%;
	background-color: #EEE;
	color: #777;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	font-variant-caps: small-caps;
	padding: 8px 28px;
	margin: 8px 0;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.search-button button:hover {
	background-color: #DDD;
}